.itemLists {
    display: flex;
<<<<<<< HEAD
}

/* .NewItemList {
    display: flex;
    direction: inline;
} */

.ulCompletedItemList {
    text-decoration:  line-through;
=======
>>>>>>> a41ca1a2a3c02c4853d7615fca8ee3dcd0d07908
}